@import "tailwindcss";

body {
  font-family: 'Poppins', Courier, monospace;
}

.register input,
button {
  border-radius: 50px;
}

button {
  cursor: pointer;
}

nav a {
  padding: 6px 10px;
  border-radius: 10px;
}